{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}




                {% block content_head %}
                        <h3>Настройки профиля</h3>
                {% endblock content_head %}
                {% block content %}
                <div class="margin_left_right_30">
                <div class="row">
                        <h4>Отдел: {{user.profile.get_department_display}}</h4>
                        <h4>Пол: {{user.profile.get_gender_display}}</h4>
                        <h4>Дата Рождения: {{user.profile.birthday}}</h4>
                </div>
                <div class="row">
                        <h4 id="erroe-msg" style="color:red">{{ error }}</h4>
                </div>
                <div class="invoice-form">
                        <div class="panel-body no-padding">
                            <form   method="post" novalidate enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form form layout='inline' bound_css_class=''%}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        Принять
                                    </button>
                                {% endbuttons %}
                    </form>
                </div>
        </div>
                {% endblock content %}